---
const copy = `Oniria te acompaña para registrar e interpretar tus sueños. Cada historia se transforma en experiencias
visuales que reflejan tu mundo interior. 
Descubrí patrones, explorá emociones recurrentes y conectá con vos mismo de manera profunda y personal.`;
---

<section class="relative mx-auto max-w-6xl px-4 sm:px-6 mt-60">
    <h3 class="font-righteous text-[36px] text-grisclarotwo font-display leading-tight tracking-tight">
        Conectá con vos mismo a través de tus sueños
    </h3>
    <p class="font-inder text-[18px] text-grisclarotwo">{copy}</p>
</section>
