---
import ArrowIcon from "../assets/icon/ArrowIcon.astro";
---

<header class="flex items-center justify-between py-6">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inder&family=Righteous&display=swap"
    rel="stylesheet"
  />
  <nav class="flex items-center justify-between w-full mx-auto">
    <a href="/" class="font-display text-xl font-extrabold">Oniria</a>
    <div class="flex items-center gap-3">
      <a
        href="https://oniria3d.com.ar/"
        class="font-inder text-sm text-neutral-300 hover:text-white"
        >Iniciar sesión</a
      >
      <a
        href="https://oniria3d.com.ar/"
        class="group font-inder text-sm px-4 py-2 rounded-xl border border-fuchsia-500/50 flex items-center justify-center hover:bg-fuchsia-500/10"
      >
        <span>Registrate</span>
        <ArrowIcon
          className="ml-3 text-[20px] group-hover:translate-x-1 transition-transform duration-300 text-rosaClaro"
        />
      </a>
    </div>
  </nav>
</header>
